{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Fraunces:wght@700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>Homey Home Page</title>
</head>
<body>
    <!-- Start Header -->
    <div class="header">
        <div class="all-com">
            <a href="{% url 'index' %}" class="imag"><img src="{% static 'image/logo1.png' %}" class="logo"></a>
            <ul class="component">
                <li><a href="http://127.0.0.1:8000/admin/">Admin</a></li>
                <li><a href="{% url 'fur' %}">Furniture</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </div>
        <div class="other-com">
            <h1>Homey</h1>
            <p>a place where you find yourself comfortable</p>
        </div>
    </div>
    <!-- End Header -->
    <!-- Start First Section -->
    <div class="first-sec">
        <div class="text">
            <h3>Choose furniture to your taste</h3>
            <p>We have a lot of furniture with good prices for all customers, we also
                have a special team to do and make furnaiture for our clients.</p>
            <a href="{% url 'fur' %}" >Buy now</a>
        </div>
        <img src="{% static 'image/home/11.png' %}" alt="">
    </div>
    <!-- End First Section -->
    <!-- Start Second Section -->
    <div class="second-sec">
        <img src="{% static 'image/home/22.png' %}" alt="">
        <div class="text">
            <h3>Stand out to the right audience</h3>
            <p>  Using a collaborative formula of designers, researchers, photographers, videographers, 
                and copywriters, we'll design your home as you want. 
            </p>
            <a href="{% url 'fur' %}" >Buy now</a>
        </div>
    </div>
    <!-- End Second Section -->
    <!-- Start 3rd Section -->
    <div class="third-sec">
        <div class="first-img"></div>
        <div class="second-img"></div>
    </div>
    <!-- End 3rd Section -->
    <!-- Start forth Section -->
    <div class="forth-sec">
        <p class="text">Customers' Feedback</p>
        <div class="all-info">
            <div class="first">
                <img src="{% static 'image/image-emily.jpg' %}" alt="">
                <p>We put our trust in Homey and they delivered, making sure our needs were met and deadlines were always hit.</p>
                <div class="info">
                    <h3>Emily Jakson</h3>
                    <p>Photographers</p>
                </div>
            </div>
            <div class="second">
                <img src="{% static 'image/image-thomas.jpg' %}" alt="">
                <p>Incredible end result! Our sales increased over 400% when we used Homey's furnaiture. Highly recommended!</p>
                <div class="info">
                    <h3>John Thomas</h3>
                    <p>Business Owner</p>
                </div>
            </div>
            <div class="third">
                <img src="{% static 'image/image-jennie.jpg' %}" alt="">
                <p>Homey's enthusiasm coupled with their keen interest in our home's furnaiture made it a satisfying and enjoyable experience.</p>
                <div class="info">
                    <h3>Jennie Kim</h3>
                    <p>Artist</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End forth Section -->
    <!-- Start 5th Section -->
    <div class="fifth-sec">
        <img src="{% static 'image/home/111.png' %}" alt="">
        <img src="{% static 'image/home/222.png' %}" alt="">
        <img src="{% static 'image/home/333.png' %}" alt="">
        <img src="{% static 'image/home/444.png' %}" alt="">
    </div>
    <!-- End 5th Section -->
</body>
</html>